* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
	  margin: 10px;
}

div {
	position: relative;  
  margin-bottom: 10px;
	padding-right: 10px;
}
.box1, .box2, .box3 {
	border-style: outset;
	border-color: navy;
	border-width: 10px;
  clear: both;
}

.box1 {
    background-color: #F5FAFA;
}

.box2 {
    background-color: #DEE0D5;
}

.box3 {
    background-color: #F4F7EC;
}

h1 { 
	text-align: center;
	margin: 5px;
	font-size: 1.5em;
	font-family: Verdana, Geneva, sans-serif;
}

p {margin: 15px;
	padding-top: 45px;
}

#bc, #wn, #pc {
	position: absolute;
	right: 0;
	border-style: solid;
  float: left;
  clear: both; 	
}

#bc {background-color: #ffcccc;
}

#wn {background-color: #b3ffb3;
}

#pc {background-color: #99ebff;
}


/* Large Screen */
@media (min-width: 992px) {
  .lrg {
    width: 33%;
    float: left;
  }
}

/* Medium Screen */
@media (min-width: 768px) and (max-width: 991px) {
 .med {
    width: 50%;
    float: right;
    }
 }

  /* Small Screen */
@media (max-width: 767px) {
  .sm {
    width: 100%;
	}
 }
